@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>


<address>
    1450 Greene St,<br />
    Augusta, GA 30901<br />
    <abbr title="Phone"></abbr>
    (706) 250-5400
</address>

<address>
    <strong>Me:</strong>   <a href="mailto:morgan.smith@ruralsourcing.com">morgan.smith@ruralsourcing.com</a><br />
</address>